body {
    width: 100%;
    height: 100%;
    background-color: #791823 !important;
}

.card-container {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.card {
    width: 60vw;
    height: 30vh;
    background-color: #f22f46 !important;
}

.card-body {
    overflow-y: auto;
    max-height: 80vh;
    background-color: transparent;
}

li:hover {
    background-color: lightblue;
}

#audioVisualizerContainer {
    height: 40vh;
    width: 100%;
    overflow: hidden;
}

#audioVisualizer {
    height: 100%;
    width: 100%;
}

.modal-content {
    background-color: #f22f46 !important;
}

.toast {
    background-color: #f22f46 !important;
}

.toast-header {
    background-color: #f22f46 !important;
}